* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    z-index: 5;
    top: 0;
    height: 100%;
    width: 350px;
    background-color: #00B98E;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 20px; 
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo > img {
    height: 75px;
    width: 100px;
}
.list {
    width: 100%;
    padding :40px;
}
.list li {
    min-height: 58px;
}

.nav1, .nav2, .nav3, .nav4, .nav5 {
    font-size: 25px;
    transition: font-size 0.5s;
}

.nav1:hover,
.nav2:hover,
.nav3:hover,
.nav4:hover,
.nav5:hover {
    font-size: 30px;
}

.nav_element {
    text-decoration: none;
    font-size: 25px;
    padding-bottom: 20px; 
    color: white;
}

.dashboard-nav {
    padding: 40px;
    margin-left: 350px;
}

.detail-boxes { 
    padding: 40px;
    display: grid;
    grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
   column-gap: 1%;
    margin-left: 350px;
}

.details-boxes-box {
    height: 216px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0 , 0, 0, 0.1 );
    margin: 10px;
    padding: 16px;
}

.three-dot {
    font-size: 25px;
}

.box-icon {
    font-size: 25px;
}

.total-no {
    font-size: 25px;
    color: black;
}

.box-text {
    font-size: 0.85rem;
    font-weight: 500;
    font-size: 25px;
}
.nav2 .btn {
    background-color: #00B98E;
    border-color: #00B98E;
    color: white;
    font-size: 25px; 
    display: flex;
    align-items: center; 
    padding: 0; 
}

.nav2 .btn i {
    margin-right: 10px; 
    color: white; 
}

.nav2 .btn:hover {
    background-color: #009F80; 
    border-color: #009F80;
}
.collapse .card {
    background-color: #009F80; 
    border-color: #009F80;
}

.collapse .card-body a {
    color: white;
    text-decoration: none;
}

.collapse .card-body a:hover {
    color: white;
    text-decoration: underline;
}
.collapse {
    margin-bottom: 20px;
}
.collapse .card-body ul {
    padding-left: 20px; 
}

.collapse .card-body ul li {
    font-size: 20px; 
    margin-bottom: 10px; 
    list-style-type: none;
}
