body {
    min-height: 100vh;
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
}

.container {
    border: 5px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: flex-start;
    margin: 20px 20px;
    max-width: 1500px;
}

.exzoom {
    max-width: 100%;
}

.exzoom_img_box {
    border: 5px solid gray;
}

.exzoom_img_ul img {
    max-width: 450px;
    /* Adjust the width as needed */
    max-height: 350px;
    /* Adjust the height as needed */
}

.right {
    border: 5px solid aqua;
    max-width: 400px;
    max-height: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.right h3,
.right h1 {
    margin-top: 0;
    font-size: 18px;
}

.right h4 {
    margin-bottom: 10px;
    font-size: 20px;
}

.right p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.right button {
    margin-top: 10px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.right button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}



.product {
    /* border: 2px solid yellow; */
    height: 600px;
    width: 900px;
    margin: auto;
}

/* .allimages img{
    width: 200px;
    height: 200px;
} */