<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})" >

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

</head>

<body>
<section>
    <div class="container-xxl bg-white p-0">

        <!-- Header Start -->
        <div class="container-fluid header bg-white p-0">
            <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                <div class="col-md-6 p-5 mt-lg-5">
                    <h2 class="display-5 animated fadeIn mb-4"> Find a <span class="text-primary">Perfect Ride</span>
                        for
                        your journey.</h2>
                    <p class="animated fadeIn mb-4 pb-2"> RideEase provide a user-friendly interfaces that allows
                        customers
                        to book a vehicle of their choice for their desired duration.
                    </p>
                    <a th:href="@{/send-email}" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Explore Vehicle</a>
                </div>
                <div class="col-md-6 animated fadeIn">
                    <div class="owl-carousel header-carousel">
                        <div class="owl-carousel-item">
                            <img class="img-fluid" th:src="@{images/1000011857.jpg}" alt="">
                        </div>
                        <div class="owl-carousel-item">
                            <img class="img-fluid" th:src="@{images/1000011858.jpg}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->


        <!-- Search Start -->
        <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
            <div class="container">
                <div class="row g-2">
                    <div class="col-md-10">
                        <div class="row g-2">
                            <div class="col-md-4">
                                <input type="text" class="form-control border-0 py-3" placeholder="Enter location">
                            </div>
                            <div class="col-md-4">
                                <select class="form-select border-0 py-3">
                                    <option selected>Vehicle Type</option>
                                    <option value="1">Bike</option>
                                    <option value="2">Car</option>
                                    <option value="3">Sedan</option>
                                    <option value="4">SUV</option>
                                    <option value="5">MUV</option>
                                    <option value="6">Scorpio</option>
                                    <option value="7">Truck</option>
                                    <option value="8">Van</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input type="date" class="form-control border-0 py-3" placeholder="Enter date">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-dark border-0 w-100 py-3">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Search End -->


        <!-- Category Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Vehicle Types</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                            <div class="rounded p-4">
                                <div class="icon mb-3">

                                    <i class="fa-solid fa-motorcycle"></i>
                                </div>
                                <h6>Bikes</h6>
                                <span>123 Bikes</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                    <i class="fa-solid fa-car"></i>
                                </div>
                                <h6>Cars</h6>
                                <span>123 Cars</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                    <i class="fa-solid fa-truck"></i>
                                </div>
                                <h6>Trucks</h6>
                                <span>123 Trucks</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                    <i class="fa-solid fa-car"></i>
                                </div>
                                <h6>SUV</h6>
                                <span>123 suvs</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                    <i class="fa-solid fa-car"></i>
                                </div>
                                <h6>MUV</h6>
                                <span>123 muvs</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                    <i class="fa-solid fa-car"></i>
                                </div>
                                <h6>SEDAN</h6>
                                <span>123 sedans</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                    <i class="fa-solid fa-van-shuttle"></i>
                                </div>
                                <h6>Vans</h6>
                                <span>123 Vans</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                    <i class="fa-solid fa-car"></i>
                                </div>
                                <h6>SCORPIO</h6>
                                <span>34 scorpios</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category End -->


        <!-- vehicle List Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-0 gx-5 align-items-end">
                    <div class="col-lg-6">
                        <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                            <h1 class="mb-3">Vehicle Listing</h1>
                        </div>
                    </div>
                    <h2 class="text-primary">Two Wheeler</h2>
                </div>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">

                            <a th:href="@{/user/product/{id}(id=${lendDetail.id})}" class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" th:each="lendDetail ,iterStat  : ${lendDetail}" th:if="${iterStat.index < 6}">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <div><img class="img-fluid img-resize" th:src="@{${lendDetail.getVehicleImage()}}" alt=""></div>
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Van</div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3" th:text="${lendDetail.getPerDay()}">Rs 1000</h5>
                                        <p class="d-block h5 mb-2"  th:text="${lendDetail.getVehicleName()}">Van for rent</p>
                                        <p><i class="fa fa-map-marker-alt text-primary me-2"></i><span th:text="${lendDetail.getPickUpLocation()}">Balkumari, KTM, NEPAL</span></p>
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i><span th:text="${lendDetail.getVehicleStatus()}">5 Meters</span></small>
                                        <small class="flex-fill text-center border-end py-2" th:text="${lendDetail.getMileage() + ' mileage'}"></small>
                                        <small class="flex-fill text-center py-2" th:text="${lendDetail.getVehicleType()}">2 wheelers</small>
                                    </div>
                                </div>
                            </a>
                            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                                <a class="btn btn-primary py-3 px-5" th:href="@{/vehicle_list}">Explore More</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- vehicle List End -->

        <div class="benefits_container">
            <p class="benefits_heading">Benefits of RideEase</p>

            <div class="benefits_detail_container">
                <div class="benefits_detail">
                    <p class="icon"><i class='bx bx-dollar-circle'></i></p>
                    <p class="benefits_text">Quality Vehicles at low price</p>
                </div>
                <div class="benefits_detail">
                    <p class="icon"><i class='bx bxs-wrench'></i></p>
                    <p class="benefits_text">Get Service Everyday</p>
                </div>
                <div class="benefits_detail">
                    <p class="icon"><i class='bx bx-dollar'></i></p>
                    <p class="benefits_text">Earn Money by renting vehicles</p>
                </div>
                <div class="benefits_detail">
                    <p class="icon"><i class='bx bx-dollar-circle'></i></p>
                    <p class="benefits_text">Quality Vehicles at low price</p>
                </div>

            </div>
        </div>
    </div>

</section>
</body>

</html>