<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})" >

<head>
    <meta charset="UTF-8">
    <title>Lend your Vehicle</title>
</head>

<body class="bg-white">
<section>
    <div class="container-xxl bg-white p-0">
        <div class="lend">
            <div class="title">
                Lend Your Vehicle
            </div>
            <div class="lend__container">
                <p class="container__info_title">Enter your Information</p>
                <hr>
                <form action="#" method="post" th:action="@{/lend}" th:object="${lend}" >
                    <div class="form_container">
                        <div>
                            <p class="gap">Name</p>
                            <div class="form_field">
                                <input type="text" name="name">
                            </div>
                        </div>
                        <div>
                            <p class="gap">Email</p>
                            <div class="form_field">
                                <input type="email" name="email">
                            </div>
                        </div>
                    </div>
                    <div class="form_container">
                        <div>
                            <p class="gap">Vehicle Name</p>
                            <div class="form_field">
                                <input type="text" name="vehicleName">
                            </div>
                        </div>
<!--                        <div>-->
<!--                            <p class="gap">Vehicle Status</p>-->

<!--                            <div class="form_field">-->
<!--                                <input type="text" name="vehiclestatus">-->
<!--                            </div>-->
<!--                        </div>-->
                        <div>
                            <p class="gap">Vehicle Status</p>
                            <div class="form_field">
                                <select name="vehicleStatus">
                                    <option>-Select Vehicle Status-</option>
                                    <option>Excellent</option>
                                    <option>Good</option>
                                    <option>Bad</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form_container">
                        <div>
                            <p class="gap">Phone number</p>
                            <div class="form_field">
                                <input type="tel" name="number">
                            </div>
                        </div>

                        <div>
                            <p class="gap">Current location</p>
                            <div class="form_field">
                                <input type="text" name="currentLocation">
                            </div>
                        </div>
                    </div>
                    <div class="form_container">
                        <div>
                            <p class="gap">Pick up location</p>
                            <div class="form_field">
                                <input type="text" name="pickUpLocation">
                            </div>
                        </div>
                        <div>
                            <p class="gap">Drop off location</p>
                            <div class="form_field">
                                <input type="text" name="dropOffLocation">
                            </div>
                        </div>
                    </div>
                    <div class="form_container">
                        <div>
                            <p class="gap">License plate no</p>
                            <div class="form_field">
                                <input type="text" name="LicencePlateNumber">
                            </div>
                        </div>
                        <div>
                            <p class="gap">Vehicle type</p>
                            <div class="form_field">
                                <select name="vehicleType">
                                    <option> -Select vehicle Type-</option>
                                    <option>2 Wheeler</option>
                                    <option>4 Wheeler</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form_container">
                        <div>
                            <p class="gap">Price</p>
                            <div class="price_form">
                                <div>
                                    <p class="price__ratetype">Per Day:</p>
                                    <div class="form_field1">
                                        <input type="number" name="perDay">
                                    </div>
                                </div>
                                <div class="price__div2">
                                    <p class="price__ratetype">Per Hour: &nbsp;</p>
                                    <div class="form_field1">
                                        <input type="number" name="perHour">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div>
                            <p class="gap">Upload your Vehicle Image</p>
                            <div class="form_field_doc ">
                                <input type="file" class="choose_files" name="vehicleImage">
                            </div>
                        </div>
                    </div>
                    <div class="form_container">
                        <div>
                            <p class="gap">Upload your citizenship image</p>
                            <div class="form_field_doc ">
                                <input type="file" class="choose_files" name="CitizenshipImage">
                            </div>
                        </div>
                        <div>
                            <p class="gap">Proof of insurance coverage of vehicles</p>
                            <div class="form_field_doc ">
                                <input type="file" class="choose_files" name="InsuranceProofImage">
                            </div>
                        </div>
                    </div>

                    <div class="form_container">
                        <div>
                            <p class="gap">Mileage</p>
                            <div class="form_field">
                                <input type="text"  name="mileage">
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="gap">Vehicle Details</p>
                        <div class="form_field">
                            <input type="text" name="vehicleDetails">
                        </div>
                    </div>

                    <div class="submit_container">
                        <input type="reset" value="Cancel" name="cancel" class="cancel">
                        <input type="submit" value="Submit" name="submit" class="submit">
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
</body>

</html>