<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">

<head>
    <meta charset="utf-8">
    <title>RideEase</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
</head>
<body>
<section>
    <div class="container-xxl bg-white p-0">
        <div class="product">
            <div class="container">
                <div class="exzoom hidden" id="exzoom">
                    <div class="exzoom_img_box">
                        <ul class='exzoom_img_ul allimages'>
                            <li><img th:src="@{images/Vehicleimg/BYD Atto 3 Front View.jpg}"/></li>
                            <li><img th:src="@{images/Vehicleimg/BYD Atto 3 Front Left View.jpg}"/></li>
                            <li><img th:src="@{images/Vehicleimg/BYD Atto 3 Front Right View.jpg}"/></li>
                            <li><img th:src="@{images/Vehicleimg/BYD Atto 3 DashBoard.jpg}"/></li>
                            <li><img th:src="@{images/Vehicleimg/BYD Atto 3 Dashbaord Display.jpg}"/></li>
                            <li><img th:src="@{images/Vehicleimg/BYD Atto 3 Rear Left View.jpg}"/></li>
                            <li><img th:src="@{images/Vehicleimg/BYD Atto 3 Right Rear View.jpg}"/></li>
                            <li><img th:src="@{images/Vehicleimg/BYD Atto 3 Rear View.jpg}"/></li>
                        </ul>
                    </div>
                    <div class="exzoom_nav"></div>
                    <p class="exzoom_btn">
                        <a href="javascript:void(0);" class="exzoom_prev_btn"> < </a>
                        <a href="javascript:void(0);" class="exzoom_next_btn"> > </a>
                    </p>
                </div>
                <div class="right">
                    <h3>Ev Vehicle</h3>
                    <h1>BYD ATT0 3</h1>
                    <h1>RS 1500</h1>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                    <h3>Brand: BYD Company </h3>
                    <h4>Available Offers</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium massa vitae elit vulputate
                        ultrices. Integer varius, lacus nec fermentum varius, justo odio laoreet quam, ut laoreet ex
                        tortor vel libero.</p>
                    <p>Pellentesque vitae arcu eu lorem tempor feugiat vel non leo. Phasellus congue nisi vitae mauris
                        vehicula, nec commodo mauris consequat.</p>
                    <button>Rent Now</button>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>
