<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/admin-dashboard.css}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
  <nav class="navbar">
    <div class="navbar_div">
        <div class="logo" >
          <img src="images/logo/logo-black.png" alt="this is logo">
        </div>
        <ul type="none" class="list">
            <li><a href="" class="nav_element nav1"><i class="fa-solid fa-table-columns"></i>&nbsp;Dashboard</a></li>
            <li class="nav_element nav2">
                <a class="btn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  <i class="fa-solid fa-file-lines" style="color: white;"></i> Vehicle Management
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <ul>
                            <li><a th:href="@{/admin/admin_all_vehicles}">All Vehicle</a></li>
                            <li><a href="">Pending Vehicle</a></li>
                            <li><a href="">Approved Vehicle</a></li>
                            <li><a href="">Archived Vehicle</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="#" class="nav_element nav3"><i class="fa-solid fa-id-badge"></i>&nbsp;My profile</a></li>
            <li><a href="#" class="nav_element nav4"><i class="fa-solid fa-user"></i>&nbsp;Customer Information</a></li>
            <li><a href="#" class="nav_element nav5"><i class="fa-solid fa-file"></i>&nbsp;Vehicle Owners</a></li>
            <li><a th:href="@{/admin/admin_contact_us}" class="nav_element nav5"><i class="fa-solid fa-address-card"></i>&nbsp;Customer Feedback</a></li>
        </ul>
    </div>
</nav>


 
<div class="admin-header-wrapper">
  <div class="admin-header">
      <div class="page-title">Admin Dashboard</div>
      <div class="profile-info">
          <p class="profile-username">username</p>
          <div class="profile-img">
              <img src="images/2477.jpg" alt="">    
          </div>
      </div>
  </div>
</div>


<div class="detail-boxes">
  <div class="details-boxes-box" style="overflow: hidden;">
    <div class="three-dot" style="float: right; color:#0E2E50;">
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </div>
    <div class="box-icon" style="float: left; color:#0E2E50;">
      <i class="fa-solid fa-rectangle-list"></i>
    </div>
    <br><br>
    <p class="box-text">Total numbers of vehicle</p>
    <p class="total-no">7</p>
    
  </div>

  <div class="details-boxes-box" style="overflow: hidden;">
    <div class="three-dot" style="float: right; color:#0E2E50;">
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </div>
    <div class="box-icon" style="float: left; color:#0E2E50;">
      <i class="fa-solid fa-clipboard"></i>
    </div>
    <br><br>
    <p class="box-text">Vehicle available for rent</p>
    <p class="total-no">7</p>
  </div>

  <div class="details-boxes-box" style="overflow: hidden;">
    <div class="three-dot" style="float: right; color:#0E2E50;" >
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </div>
    <div class="box-icon" style="float: left; color:#0E2E50;">
      <i class="fa-solid fa-list-check"></i>
    </div>
    <br><br>
    <p class="box-text">Vehicle already booked</p>
    <p class="total-no">7</p>
    
  </div>

  <div class="details-boxes-box" style="overflow: hidden;">
    <div class="three-dot" style="float: right; color:#0E2E50;">
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </div>
    <div class="box-icon" style="float: left; color:#0E2E50;">
      <i class="fa-solid fa-check-to-slot"></i>
    </div>
    <br><br>
    <p class="box-text">Total no of Approved Vehicle</p>
    <p class="total-no">7</p>
    
  </div>

  <div class="details-boxes-box" style="overflow: hidden;">
    <div class="three-dot" style="float: right; color:#0E2E50;">
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </div>
    <div class="box-icon" style="float: left; color:#0E2E50;">
      <i class="fa-solid fa-hourglass-half"></i>
    </div>
    <br><br>
    <p class="box-text">Total no of Pending Vehicle</p>
    <p class="total-no">7</p>
    
  </div>

  <div class="details-boxes-box" style="overflow: hidden;">
    <div class="three-dot" style="float: right; color:#0E2E50;">
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </div>
    <div class="box-icon" style="float: left; color:#0E2E50;">
      <i class="fa-solid fa-box-archive"></i>
    </div>
    <br><br>
    <p class="box-text">Total no of Archived Vehicle</p>
    <p class="total-no">7</p>
    
  </div>
  
</div>
   











  
   

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>