<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">

<head>
    <meta charset="utf-8">
    <title>RideEase</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
</head>
<body>
<section>
    <div class="container-xxl bg-white p-0">
        <div class="container">
            <div class="right">
                <div class="vehicle_image">
                    <img th:src="@{${vehicle.getVehicleImage()}}"/>
                </div>

            </div>
            <div class="right">
                <div th:text="${vehicle.getId()}"></div>
                <div th:text="${vehicle.getName()}"></div>
                <div th:text="${vehicle.getEmail()}"></div>
                <div th:text="${vehicle.getNumber()}"></div>
                <div th:text="${vehicle.getVehicleName()}"></div>
                <div th:text="${vehicle.getVehicleStatus()}"></div>
                <div th:text="${vehicle.getCurrentLocation()}"></div>
                <div th:text="${vehicle.getPickUpLocation()}"></div>
                <div th:text="${vehicle.getDropOffLocation()}"></div>
                <div th:text="${vehicle.getLicencePlateNumber()}"></div>
                <div th:text="${vehicle.getVehicleType()}"></div>
                <div th:text="${vehicle.getPerDay()}"></div>
                <div th:text="${vehicle.getPerHour()}"></div>
                <div th:text="${vehicle.getMileage()}"></div>
                <div th:text="${vehicle.getVehicleDetails()}"></div>
                <!-- <button>Rent Now</button> -->

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Rent Now
                </button>


                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">




                        <div class="modal-content">
                            <!-- <div class="modal-header"> -->
                            <div class="contactcontainer">
                                <div class="formcontainer">
                                    <p class="containerheader">Fill the form</p><hr color="black">
                                    <form action="#"  method="post" th:action="@{/product}" th:object="${productBook}">
                                        <p><label>Name*:</label><input type="text" name="name" required class="textare form1"></p>
                                        <p><label>Email*:</label><input type="email" name="email" required class="textare form2"></p>
                                        <p><label>Number*:</label><input type="number" name="number" required class="textare form3"></p>
                                        <p><label>Address*:</label><input type="text" name="address" required class="textare form4"></p>
                                        <p><label>Citizenship photo*:<input type="file" name="ctz" required class=" form5"></label></p>
                                        <p><label>license photo*:<input type="file" name="lic" required class=" form6"></label></p>

                                        <input type="Submit" value="Submit" class="submitbutton">
                                    </form>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</section>
</body>

</html>
